@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to User Management Service</h1>

<p>
    This application allows you to manage users efficiently. You can:
</p>

<ul>
    <li>View a list of all registered users.</li>
    <li>Create new user profiles.</li>
    <li>Update existing user information.</li>
    <li>Delete users who are no longer needed.</li>
    <li>Validate user passwords securely.</li>
</ul>

<p>
    Use the navigation menu to access the different features of the application.
</p>
