.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
}

.nav-item {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

.nav-item ::deep a {
    color: #d7d7d7;
    border-radius: 4px;
    min-height: 4rem;
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0.5rem 1.5rem;
    transition: all 0.2s ease-in-out;
}

.nav-item ::deep a .bi {
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: transform 0.2s ease-in-out;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.2);
    color: white;
    transform: translateX(5px);
}

.nav-item ::deep a:hover .bi {
    transform: scale(1.2);
}

.nav-item ::deep a:active {
    transform: scale(0.98) translateX(5px);
    background-color: rgba(255,255,255,0.3);
}

